$break-mobile: 500px;
$break-small: 767px;
$break-medium: 1000px;

$animation-length: 0.2s;
  
  .store-header {
    font-size: 22px;
    letter-spacing: 4px;
    margin-left: 1.3rem;
    font-weight: bold;
    margin: 0 1.3rem 1.3rem;

    @media screen and (max-width: $break-small) {
      text-align: center;
    }
  }
  
  .store-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    .image-wrapper {
      display: block;
      margin: 0 auto 15px;
      position: relative;
    }
  
    img {
      max-height: 345px;
      max-width: 100%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      &.image-2 {
        box-shadow: none;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }
  
    .store-item {
      transition: 0.2s ease-in-out all;
      width: calc(33.33% - 4rem);
      margin: 1.3rem;
      opacity: 0.9;
  
      &:hover img {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      }
  
      .title {
        font-weight: bold;
        font-size: 1.3em;
        align-self: flex-start;
      }
  
      .price {
        margin-top: 8px;
        font-size: 15px;
        align-self: flex-start;
      }
  
      @media screen and (max-width: $break-small) {
        width: auto;
      }
    }
  
    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }
  }
