$break-mobile: 500px;
$break-small: 767px;
$break-medium: 1000px;

$animation-length: 0.2s;
  
  .store-header {
    margin: 0 1.3rem 1.3rem;
  }
  
  .store-wrapper, div.shopify-buy__collection-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

    // .image-wrapper, .has-image {
    //   display: block;
    //   margin: 0 auto 15px;
    //   position: relative;
    // }
  
    img {
      max-height: 345px;
      max-width: 100%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      &.image-2 {
        box-shadow: none;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }
  
    .store-item, .has-image {
      transition: 0.2s ease-in-out all;
      width: calc(33.33% - 4rem);
      margin: 1.3rem;
      opacity: 0.9;
      cursor: pointer;
  
      &:hover img {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      }
  
      .title, .shopify-buy__product__title {
        font-weight: bold;
        font-size: 1.3em;
        align-self: flex-start;
        margin: 15px 0 8px 0;
      }
  
      .price, .shopify-buy__product__price {
        font-size: 15px;
        align-self: flex-start;
      }

      .shopify-buy__product__compare-price {
        text-decoration: line-through;
        font-size: 12px;
        padding-left: 5px;
        opacity: 0.65;
      }
  
      @media screen and (max-width: $break-small) {
        width: auto;
      }
    }
  
    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }
  }

.shopify-buy__collection-pagination-button {
  display: none;
}
