.hero.contact {
  background-image: url("https://scontent.fbed1-2.fna.fbcdn.net/v/t1.0-9/299682_2083099401728_1147421824_n.jpg?_nc_cat=107&_nc_ht=scontent.fbed1-2.fna&oh=ad5229e3e4973034e0087ac004f45be3&oe=5CC5C4B2");
  background-size: cover;
  background-position: 50% 20%;
  filter: grayscale(100%) contrast(130%) brightness(50%);
}

.contact-wrapper {
  > div {
    padding: 0 3.5rem;
  }
}