$break-mobile: 500px;
$break-small: 767px;

.main-header {
    padding-top: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    font-size: .9rem;
}

a {
    color: #fff;
    text-decoration: none;
}

.main-header a {
    font-weight: bold;
    letter-spacing: 1px;
}

.social-icon {
    color: #fff;
}

li {
    list-style: none;
}

.main-menu.social {
    float: right;
    margin-right: 10%;
    ul {
        margin: 0;
    }
    li {
        padding: 0;
    }

    @media screen and (max-width: $break-mobile) {
        margin-right: 1rem;
      }
}

.main-menu {
    display: inline-block;
}

.main-menu ul, .main-menu li {
    display: inline-block;
    padding: 0;
}

.main-menu li {
    padding: 1rem;
    text-transform: uppercase;
}

.logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.2rem;
    top: 0;
}

.logo-container a {
    color: #fff;
    font-size: 2rem;
}
