.hero.landing {
  background-image: url("https://scontent.fbed1-2.fna.fbcdn.net/v/t1.0-9/37324663_10212601771263878_8573716035281092608_o.jpg?_nc_cat=107&_nc_ht=scontent.fbed1-2.fna&oh=de06db76ad1c0649489dc0d2da667c60&oe=5CB2A9D7");
  background-position: 100% 15%;
  filter: grayscale(100%) contrast(150%) brightness(50%);
  background-color: #282c34;
}