$break-small: 767px;

.album-art.landing {
  width: auto;
  height: 480px;
  pointer-events: none;
}

.sign-up {
  height: 12px;
}

@media screen and (max-width: $break-small) {
  .album-art.landing {
    height: 400px;
  }
}
