.hero.store {
  background-image: url("https://scontent.fbed1-1.fna.fbcdn.net/v/t1.0-9/205603_1004680764979_9025_n.jpg?_nc_cat=105&_nc_ht=scontent.fbed1-1.fna&oh=a5ec2016e06a23d78741640867ec25aa&oe=5CB553CD");
  background-size: cover;
  background-position: 0% 60%;
  filter: grayscale(100%) contrast(130%) brightness(50%);
}