.hero.tour {
  background-image: url("https://scontent.fbed1-2.fna.fbcdn.net/v/t1.0-9/200216_1002686072070_979_n.jpg?_nc_cat=102&_nc_ht=scontent.fbed1-2.fna&oh=2da484e736bd601aad2b1fc7de60e11b&oe=5CB6D886");
  background-size: 150% auto;
  filter: blur(5px) grayscale(100%) contrast(120%) brightness(50%);
  background-position: 0% 20%;
}