$break-mobile: 500px;
$break-small: 767px;
$break-medium: 1000px;

.about-wrapper {
    margin: 0 1.3rem;
    line-height: 1.8;
    letter-spacing: 1px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fixed-banner {
    position: relative;
    overflow: hidden;
    height: 350px;

    img {
        width: 100%;
    }

    @media screen and (max-width: $break-mobile) {
        height: 150px;
    }
}

.fixed-banner {
    width: 100%;
    height: 40vh;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    @media screen and (max-width: $break-mobile) {
        height: 220px;
        background-size: 100% auto;
        background-attachment: inherit;
    }

    &.about-the-band {
        background-image: url('../../about_the_band.png')
    }
}